
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
html{
  // background-color: #83c9c6;
  background-color: #eceff1;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  height: 100vh;
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.section_with_menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // width: 100%;
  margin:25px 25px 20px 25px ;
  background-color: white;
  // padding-bottom: 20px;
}
.img {
  min-height:400px ;
  max-height: 500px;
  // min-width: 82vw;
  // max-width: 90vw;
  // height: 500px;
  width: 100%;
  object-fit: cover;
  margin-bottom: 5px;
  border: 2px solid black;
}
// .center {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   // width: 100%;
// }
.footer{
  margin-top: auto;
}
@media (min-width:50px) and (max-width: 900px){
  .section_with_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 100%;
    margin:25px 0 20px 0;
    background-color: white;
    // padding-bottom: 20px;
  }
}