.menu {
  position:fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  transform: translate(-100%);
  transition: all 0.2s;
}
.menuActive{
  position:fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  transform: translate(0);
  transition: all 0.2s;
}
.blur {
  width: 70vw;
  height: 100vh;
  left: 30%;
  backdrop-filter: blur(2px);
  position: absolute;
}
.content {
  width: 30%;
  height: 100%;
  background-color: rgb(15, 152, 177);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
}
.list {
  color: white;
  text-decoration: none;
  margin: 10px 0;
}
.link{
  color: white;
  text-decoration: none;
  margin: 10px 0;
  font-style: italic;
  font-size: 1.2em;
  text-transform: capitalize;
  text-shadow: 7px 6px 3px rgba(66, 68, 90, 1);
}
.nav{
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}