.error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: italic;
  font-size: 2em;
  text-align: center;
  color: red;
}
.valid{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: italic;
  font-size: 2em;
  text-align: center;
  color: green;
}