.menu {
  position:fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  transform: translate(-120%);
  transition: all 0.2s;
  z-index: 100;
  // display: none;
}
.menuActive{
  position:fixed;
  width: 100vw;
  height: 100%;
  left: 0;
  transform: translate(0);
  transition: all 0.2s;
  z-index: 100;
}
.blur {
  width: 60vw;
  height: 100%;
  left: 40%;
  backdrop-filter: blur(2px);
  position: fixed;
}
.content {
  width: 40%;
  height: 100%;
  background-color: rgb(8, 107, 121);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.4s;
  padding-top: 5%;
  box-shadow: 7px -5px 20px 3px rgba(66, 68, 90, 1);
}
.list {
  width: 40vw;
  color: white;
  text-decoration: none;
  margin: 10px 0;
  text-align: center;
}
.back {
  color: rgb(39, 37, 37);
  text-decoration:underline;
  margin: 10px 0;
  font-style: italic;
  font-size: 1.2em;
  text-shadow: 7px 6px 3px rgba(66, 68, 90, 1);
}
.link{
  color: white;
  text-decoration: none;
  margin: 10px 0;
  font-style: italic;
  font-size: 1.2em;
  text-transform: capitalize;
  text-shadow: 7px 6px 3px rgba(66, 68, 90, 1);
  text-align: center;
  overflow-wrap: break-word;
}
.nav{
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  // display: none;
}
@media (min-width:900px) and (max-width: 3500px){
  .menuActive{
    display: none;
  }
}