.nav,
.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  z-index: 120;
  // box-shadow: 6px 5px 3px -2px rgba(66, 68, 90, 1);
}
.nav {
  margin: 5vh 0 2vh 5vh;
  width: 20vw;
}
.nav2
{
  display: none;
  position: absolute;
}
.link {
  display: inline-block;
  width: 100%;
  padding: 10px 0 10px 0;
  font-style: normal;
  font-size: 1.3em;
  text-align: start;
  padding-left: 10%;
  text-decoration: none;
  color: rgb(51, 49, 49);
  word-wrap: break-word;
  text-transform: capitalize;
}
.list {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.listCat:hover > .nav2
 {
  display: block;
}
.listCat {
  position: relative;
}
.list:hover {
  background-color: #eceff1;
}
.position{
  left:20vw;
  top: 0px;
  z-index: 100;
 }
 .width{
  width: 100%;
 }
 .section{
  width: inherit;
 }
 .arrow{
  padding-right: 10px ;
 }