.main {
  // position: fixed;
  left: 6vw;
  right: 10vw;
  top: 5vw;
  width: 3rem;
  height: 2rem;
  padding: 5 px;
  // background: rgb(10, 143, 39);
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
  cursor: pointer;
  outline: none;
  z-index: 1;

}
.div {
  position: relative;
    width: 2rem;
    height: 0.25rem;
    border-radius: 10px;
    background-color:white;
}

@media (min-width:900px) and (max-width: 2350px){
  .main{
    display: none;
  }
}