@import '../../../node_modules/scss-reset/src/scss/_reset.scss';


.footer
{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--velora-ink);
  min-height: 15vh;
  max-height: 30vh;
}
.text
{
  margin: 0 20px;
  color: var(--velora-cream);
  font-size: 1em;
  font-style: italic;

}