.link {
  display: inline-block;
  width: 200px;
  padding: 10px 0 10px 0;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 1px solid black;
}
.list {
    background-color: rgb(33, 9, 247);
}