* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav,
.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20vw;
  z-index: 120;
}
.nav {
  margin: 5vh 0 2vh 5vh;
}
.nav2
{
  display: none;
  position: absolute;
}
.link {
  display: inline-block;
  // min-width: 20vw;
  // max-width: 25vw;
  width: 100%;
  padding: 10px 0 10px 0;
  font-style: italic;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  color: black;
  // border: 1px solid black;
  word-wrap: break-word;
  // text-shadow: 7px 6px 3px rgba(66, 68, 90, 1);
  text-transform: capitalize;
  z-index: 120;
}
.list {
    background-color:  white;
    z-index: 120;
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}
.listCat:hover > .nav2
 {
  display: block;
}
.listCat {
  position: relative;
}
.list:hover {
  background-color:  #eceff1;
}
.position{
  left:0px;
  top: 0px;
  z-index: 100;
 }