@import '../../../node_modules/scss-reset/src/scss/_reset.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav,
.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // font-size: 0;
  width: inherit;
}
.nav {
  margin: 0vh 0 2vh 5vh;
  width: 20vw;

}
// .nav2
// {
//   display: none;
//   position: absolute;
// }
.link {
  display: inline-block;
  box-sizing: border-box;
  // min-width: 20vw;
  // max-width: 25vw;
  width: 100%;
  padding: 10px 0 10px 0;
  font-style: italic;
  font-size: 1.3em;
  text-align: center;
  text-decoration: none;
  color: white;
  border: 1px solid black;
  word-wrap: break-word;
  text-shadow: 7px 6px 3px rgba(66, 68, 90, 1);
  text-transform: capitalize;
}
.list {
    background-color:  rgb(8, 107, 121);
}
@media (min-width:375px) and (max-width: 900px){
  .nav{
    margin:0;
    width: 20vw;
  }
}
@media (min-width:50px) and (max-width: 900px){
  .nav{
    display: none;
  }
}