.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  height: 100vh;
}
.body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;

}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.footer{
  margin-top: auto;
}