.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  min-height: 30%;
  max-height: 60%;
  width: 100%;
  margin-left: 3px;
  margin-right: 3px;
}
.containerMain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid rgb(16, 16, 46);
  margin-bottom: 5px;
  width: 100%;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.text {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 97%;
  margin: 0.7em;
}
.text2 {
  // width: 150px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: 1.5em;
  margin: 30px;
  text-decoration: underline;
}
.error {
  display: flex;
  justify-content: center;
  width: 100%;
  font-family: italic;
  font-size: 4em;
  text-align: center;
  color: red;
}
.btn {
  font-style: italic;
  border: 1px solid black;
  background-color: grey;
  border-radius: 5px;
  margin:1.9em 0.3em;
  padding: 0 0.5em 0 0.5em;
  text-decoration: none;
  font-size: 1.01em;
  color: black;
  box-shadow: 6px 5px 3px -2px rgba(66, 68, 90, 1);
}

@media (min-width:375px) and (max-width: 900px){
  .containerMain{
    display: flex;
    width: 90vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  .container {
  display: flex;
  flex-direction: column;
}
.text {
    font-size: 1.2em;
  margin: 5px;
}
}