.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  height: 100vh;
}
.body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  // padding-top: 10%;
  // padding-bottom: 25%;
  // min-height:70% ;
  // max-height:100% ;
  // overflow: hidden;
}
.footer{
  margin-top: auto;
}